body{
    background-color: cornflowerblue;
}
h1a{
    color: blue;
}
p{
    color: aqua;
}
h2:hover{
    background-color: black;
    color: aliceblue;
}
.encavezado{
    display: flex;
    align-items: center;
    text-align: center;
}